.jumbotron {
  background-color: hsla(162, 82%, 58%, 0.6);
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

p, h1, h2, h3, h4, h5 {
  font-family: Josefin Sans;
}

.dark-green {
  color: #114B5F;
}

.eggwhite {
  color: #C6DABF;
}

#hello-text {
  font-size: 5vw;
}

#name-text {
  font-size: 10vw;
}

.jumbotron .container {
    position:relative;
    top:30vh;
    text-align:center;
}

.jumbotron .container > * {
    text-align:center;
}

.jumbotron .container h1 {
    display:inline-block;
}

.scroll-down {
  position: absolute;
  bottom: 5%;
  left: 3%;
  background-color: #114B5F;
  padding: 10px 60px 10px 60px;
  border-radius: 10px;
}

.down-arrow {
  transform: rotate(90deg);
  color: #C6DABF;
  font-size: 20px;
}

.info-list{
  list-style-type: none;
  position: absolute;
  right: 3%;
}

.info-element {
  height: 10vmin;
  padding-top: 20px;
}
